.main__container {
  margin-top: 50px;
  width: 70%;
  margin: 0 auto;
  background-color: red;
}

.main__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.hotel__container {
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  padding: 10px;
}

.hotel__container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.hotel__container img {
  display: block;
  margin: auto;
}

.hotel__name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.hotel__price {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0;
}

.sidebar__social-container {
  display: flex;
  justify-content: center;

  .sidebar__social-item {
    margin: 0 5px;
  }

  .sidebar__social-item:hover {
    color: #fff;
    background-color: #97bf0f;
    cursor: pointer;
  }
}
