$primary-color: #98bf0e;
$primary-translucid: #99bf0ec2;
$primary-lighter: #c9e759;
$primary-darker: #708b0d;
$color-black: #1a1a1a;
$color-lightGray: #bcbdbd;
$dark-gray: #646464;
$disable-color: rgba(233, 32, 32, 0.685);
